# FastAPI and Server
fastapi
uvicorn[standard]

# Database
sqlalchemy
alembic
psycopg2-binary # For PostgreSQL later

# LLM & HTTP Requests
httpx

# CLI Tool
typer[all]

# Settings Management
# pydantic-settings
python-dotenv

#JWT and auth
passlib[bcrypt]
python-jose[cryptography]

pydantic-[email]
python-multipart

redis

requests

rich

openai

#testing
pytest
pytest-asyncio

supabase

anyio[all]
asgiref

slowapi